---
layout: page
---

{%- assign _page_articles_data_source = page.articles.data_source | default: layout.articles.data_source -%}

{%- if _page_articles_data_source -%}
{%- assign _keys = _page_articles_data_source | split: '.' -%}
{%- endif -%}

{%- assign _articles = nil -%}
{%- for _key in _keys -%}
  {%- if forloop.first -%}
    {%- case _key -%}
      {%- when 'site' -%}
        {%- assign _articles = site -%}
      {%- when 'page' -%}
        {%- assign _articles = page -%}
      {%- when 'layout' -%}
        {%- assign _articles = layout -%}
      {%- when 'paginator' -%}
        {%- assign _articles = paginator -%}
      {%- else -%}
        {%- assign _articles = site[_key] -%}
      {%- else -%}
    {%- endcase -%}
  {%- else -%}
    {%- assign _articles = _articles[_key] -%}
  {%- endif -%}
{%- endfor -%}

{%- assign _type = page.articles.type | default: layout.articles.type -%}

{%- assign _site_author = site.author -%}
<div style="display: flex; align-items: center; padding-top: 20px; padding-bottom: 20px;">
  <div>
    <img src="/assets/android-chrome-512x512.png" width="100">
  </div>
  <div style="padding-right: 20px;"></div>
  <div>
    <div><b>MagmaTart</b></div>
    <div>주로 딥 러닝, 그 외에도 다양한 주제로 글을 쓰고 있습니다.</div>
    <div class="article__author-links" style="margin-top: 10px;">
      {%- include author-links.html author=_site_author -%}
    </div>
  </div>
</div>

<!-- SoundCloud Player -->
<!-- <div style="margin-top: 20px; margin-bottom: 20px">
  <div style="margin-bottom: 10px"><b>Some music I currently addicted to :)</b></div>
  <iframe id="player" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1242791686&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

<script>
  let musicList = [
    "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1242791686&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true",
    "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1380494896&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true",
    "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/858324415&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true",
    "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1553315872&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true", 
    "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/867129322&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
  ]
  let number = Math.floor(Math.random()*5);
  let player = document.getElementById("player")
  player.setAttribute("src", musicList[number]);
</script> -->

<hr></hr>

<div style="margin-top: 50px; margin-bottom: 20px">
  <span style="font-weight: bold; font-size: 1.7em; line-height: 1.0em; color: navy; font-family: arial;">
    Posts
  </span>
</div>


{%- if _articles -%}
  <div class="layout--articles">

    {%- if _type == 'grid' -%}
      {%- if page.articles.size == 'sm' -%}
        {%- include article-list.html articles=_articles type='grid' size='sm' -%}
      {%- else -%}
        {%- include article-list.html articles=_articles type='grid' -%}
      {%- endif -%}

    {%- elsif _type == 'brief' -%}
      {%- include snippets/assign.html
        target=site.data.variables.default.page.articles.show_info
        source0=layout.articles.show_info source1=page.articles.show_info -%}
      {%- assign _show_info = __return -%}

      {%- include article-list.html articles=_articles type='brief' show_info=_show_info -%}

    {%- else -%}
      {%- include snippets/assign.html
        target=site.data.variables.default.page.articles.show_cover
        source0=layout.articles.show_cover source1=page.articles.show_cover -%}
      {%- assign _show_cover = __return -%}

      {%- include snippets/assign.html
        target=site.data.variables.default.page.articles.show_excerpt
        source0=layout.articles.show_excerpt source1=page.articles.show_excerpt -%}
      {%- assign _show_excerpt = __return -%}

      {%- include snippets/assign.html
        target=site.data.variables.default.page.articles.show_readmore
        source0=layout.articles.show_readmore source1=page.articles.show_readmore -%}
      {%- assign _show_readmore = __return -%}

      {%- include snippets/assign.html
        target=site.data.variables.default.page.articles.show_info
        source0=layout.articles.show_info source1=page.articles.show_info -%}
      {%- assign _show_info = __return -%}

      {%- assign _article_type = page.articles.article_type | default: layout.articles.article_type -%}
      {%- assign _cover_size = page.articles.cover_size | default: layout.articles.cover_size -%}
      {%- assign _excerpt_type = page.articles.excerpt_type | default: layout.articles.excerpt_type -%}

      {%- include article-list.html articles=_articles type='item'
        article_type=_article_type
        show_cover=_show_cover cover_size=_cover_size
        show_excerpt=_show_excerpt excerpt_type=_excerpt_type
        show_readmore=_show_readmore show_info=_show_info -%}

    {%- endif -%}

  </div>
{%- endif -%}

{{ content }}
