---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

{% if page.use_math %}
  {% include mathjax_support.html %}
{% endif %}


<div class="layout--article">
  {%- include article/top/custom.html -%}

  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1242791686&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/daeya_music" title="Daeya" target="_blank" style="color: #cccccc; text-decoration: none;">Daeya</a> ¡¤ <a href="https://soundcloud.com/daeya_music/polaroid-emotion-clip" title="POLAROID EMOTION" target="_blank" style="color: #cccccc; text-decoration: none;">POLAROID EMOTION</a></div>

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

  <div>
    <script src="https://giscus.app/client.js"
        data-repo="MagmaTart/magmatart.github.io"
        data-repo-id="R_kgDOKUOvYQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOKUOvYc4CZXIe"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
    </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
